## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/

## VS
.vs/
*.rsuser

## Rider
.idea/

## OS
.DS_Store
Thumbs.db